ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
      font-family: sans-serif;
}
li{
    text-align: center;
       
    padding: 10px;
}
.Headg{
    display: none;
}
li a{
    display: block;
    text-align: center;
    padding: 15px 70px;
}
.fa{
    display: block;
    padding: 15px 50px;
    resize: horizontal;
    background: white;

}
.fa:hover{
    background: #009688; 
}
body{
background: url("../Images/images.jpg") no-repeat center center;
    background-size: cover;
}
.Heading{
    padding: 10px;
    text-align: center;
    margin: 20px;
}
.Navbar{
   text-align: center;  
    background: white;
    margin-bottom: 20px;
}
li a:hover{
    background: #009688
}
.Par{
     
    margin-bottom: 85px;
}
.Para{
    font-size: 2em;
    margin-bottom: 15px;
    
    width: 50%;
    padding: 100px;
    padding-bottom: 0;
    padding-top: 0;
}
.bakwas{
    margin: inherit;
    margin-bottom: 70px;
    margin-top: 10px;
    font-size: 1.5em;
    width: 50%;
    padding: 100px;
    padding-left: 500px;
    padding-bottom: 0;
    padding-top: 0;
}

.OnImage1{
    margin-left: 40px;
    padding: 20px;
    width: 50%;
    color: white;
    font-family: none;
}
.OnImage{
    margin-left: 40px;
    padding: 20px;
    width: 50%;
    color: white;
    font-family: none;
}
.Parallex{
  margin-top: 200px;/* For IE8 and earlier */
}
.Contacts{
    text-align: center;
    margin: 0;
    padding: 20px;
    
}
h1{
    font-size: 3em;
    padding-top: 50px;
    margin: 0;
}
h2{
    margin-bottom: 20px;
    font-style: normal;
    font-family: sans-serif;
    width: 50%;
    margin-left: 400px;
}
hr{
    color: black;
}

img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */

}
.Toggle{
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    box-sizing: border-box;
    display: none;  
}

.Spaces{
    display: none;
}

nav
{
    width: 100%;
    background: white;
    padding: 0;
}
ul{
    margin: 0px 0px;
    width: 80%;
    padding: 50;
}
ul li{
    list-style: none;
    display: inline-block; 
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    text-align: center;
}
ul li a{
    text-decoration: none;
    
    padding: 40px; 
    padding-bottom: 10px;
    padding-top: 10px; 
    text-align: center;
}
ul li:hover{
    background-color: #009688;    
}
.Hea{
    display: none;
}
.Toggle{
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    box-sizing: border-box;
    display: none;  
}
@media (max-width:1529px)
{
    .Headk{
        display: none;
    }
    .Hea{
        display: block;
        padding: 20px;
        text-align: center;
    }
    .Toggle{
        display: block;
        padding: 20px;
    }
    ul{
        width: 100%;
        display: none;
    }
    ul li{
        display: block;
        text-align: center;
    }
    .active{
        display: block;
    }
    .Heading{
        display: none;
        
    }
    .OnImage1{
        display: none;
        padding: 20px;
        width: 50%;
        color: white;
        font-family: none;
    }
    .Parallax{
        height: 600px;
        margin-bottom: 150px;
        width: 100%;
    }
}
